@media (prefers-color-scheme: light) {
	:root {
		color: var(--color-text-dark);
		background-color: var(--color-background-light);
	}
	a:hover {
		color: var(--color-secondary);
	}
	button {
		background-color: var(--color-background-button-light);
	}
}
